* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

fieldset{
    display: flex;
    flex-direction: column;
}


fieldset{

    padding: 2vw;
    margin: 2vw;
    
}

td{
    padding: 0.5vh 0;
}

.scroll{
    height: 7vh;
    width: 10vw;
    overflow: auto;
}

