* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

fieldset{
    display: flex;
    flex-direction: column;
}


fieldset{
    background-color: red;
    display: flex;
    flex-direction: column;
    padding: 2vw;
    margin: 2vw;
    row-gap: 3vh;
}

.section__text{
    background-color: blue;
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
}

.section__text>article>input{
    background-color: green;
    margin-left: 5vw;
}

.scroll{
    height: 7vh;
    width: 10vw;
    overflow: auto;
}